@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*-------------------------------------------------Colours */

body {
    background-color: #ceccd7;
}

.bg-color-name-title {
    background-color: #ceccd7;
}

.ui-menu-color-home {
    background-color: black;
}

.ui-menu-color-cv {
    background-color: whitesmoke;
}

.ui-menu-color-contact {
    background-color: black;
}

.ui-menu-color-download {
    background-color: whitesmoke;
}

/*-------------------------------------------------Special paddings/margins/text */

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    color: #ceccd7
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*-------------------------------------------------Header */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/kirsty.jpg");
    margin: 20px 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: 350px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-size: 60px;
    margin-top: 90px;
    color:#ea5348;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 120px;
    color: #ea5348;
}

/*-------------------------------------------------Menu */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    background-color: #ceccd7
}

#nav li {
    font-size: 14px;
    padding: 10px;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
    border-radius: 200px;
    border-color: black;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #b17761;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}



.hvr-sweep-to-bottom:before {
    background: #ea5348;
    height: 100px;
    border-radius: 100px;
    padding: 0;
}

/*-------------------------------------------------Footer */

footer {
    background-color: #ea5348;
    min-height: 120px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.cv-pdf i {
    font-size: 18px;
    color: #ceccd7;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #b17761;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #ceccd7;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: white;
    color: #b17761
}

#footer-details {
    padding: 20px;
}